footer {
    background-color: #1b3c59;
    width: 100%;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
}
footer a {
    color: white;
}
footer ul li {
    list-style-type: none;
    color: white;
}

.footer-top-right {
    font-size: 20px;
}
.footer-top-right a:hover {
    text-decoration: underline;
    text-decoration-color: white;

}
.social {
    text-align: center;
}
.icon {
    display: inline-block;
    margin: 30px 20px;
    font-size: 35px;
}
.icon a:hover {
    color: #61ce4e;
}
footer p {
    color: white;
}
.info {
    text-align: center;
}
